body {
  background-image: url(flip-phone.jpg);
  background-repeat: no-repeat;
  background-size: 900px;
  height: 700px;
  background-position: center;
  font-family: lucida, monospace;
}

h1 {
  color: #ff69b3;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: #ff69b3;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 400px;
  margin: 100px auto;
}

.weather-app {
  padding: 34px;
  border: 1px solid #ff1493;
  background: #faedfd;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 84px;
  width: 84px;
}

.weather-temperature strong {
  color: #ff69b3;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: #ff69b3;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #ff69b3;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.8;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
